:root {
    --dark-blue: #000f38;
    --blue: #0046FF;
    --light-blue: #73C8D2;
    --light: #F5F1DC;
    --orange: #FF9013;
}

* {
    box-sizing: border-box;
    color: var(--dark-blue);
}

.logo {
    width: 10vw;
}

nav {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

